.DS_Store
node_modules
typings/

# zip
dist/*.gz
*.zip
*.tgz
sh/

# map
dist/*.map
/map

# test
test/e2e/reports
test/e2e/screenshots
coverage

# local env files
.env.local
.env.*.local

# Log files
log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
